html {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: 373737;
}
div,
img,
p,
h1,
h2 {
  margin: 0;
  padding: 0;
}
.navbar {
  width: 100%;
}
.nav {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.nav__link {
  display: block;
  color: #ff0000;
  text-decoration: none;
  transition: color 0.2s linear;
  align-items: center;
  font-size: 18px;
  line-height: 18px;
  padding: 25px 36px;
}
.nav__link:hover {
  color: chartreuse;
}
.image-container {
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.img {
  max-width: 100%;
}
.content {
  padding: 48px 67px 42px;
}
.heading {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
  text-align: center;
}
.text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #373737;
  padding-top: 28px;
}
.button {
    padding: 18px 43px;
  background: #ff0000;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  margin: 66px auto 0;
  display: block;
}
.footer {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #373737;
  padding: 29px 105px;
  text-align: right;
}
