body {
    font-family: "Roboto";
    font-size: 18px;
}
.container {
    max-width: 1283px;
    margin-left: auto;
    margin-right: auto;
}
.header_logo {
    margin-top: 63px;
    margin-bottom: 38px;
}
.header_logo a {
    color: #4bcaff;
    text-decoration: none;
    font-size: 80px;
    line-height: 93px;
}
.header_menu {
    background-color: #35444F;
    display: flex;
    justify-content: center;
    padding-left: 162px;
    padding-right: 133px;
}
.header_menu_item {
    font-size: 24px;
    border-left: 1px solid white;
    color: #ffffff;
    padding: 26px 36px;
}
.header_menu_item:last-child {
    border-right: 1px solid white;
}
.header_menu_item:hover {
    background-color: #222F3A;
}
.layout {
    display: flex;
    padding-top: 48px;
}
.sidebar {
    width: 344px;
    margin-right: 52px;
}
.sidebar_menu {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.sidebar_menu_item {
    font-size: 27px;
    padding: 25px 44px;
}
.sidebar_menu_item:hover {
    background-color: #DBDBDB;
}

.content {
    width: 885px;
}

.content p {
    padding-top: 34px;
    font-size: 18px;
}

.cover_border {
    width: 885px;
    height: 529px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.cover_img {
    width: 100%;
    height: 100%;
    background-image: url('./../img/ramda.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 381px 320px;
    overflow:hidden;
    transition:all 0.5s;
}
.cover_img:hover {
    background-size: 419px 352px;
    
}

.footer {
    margin-top: 54px;
    background-color: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-between;
    padding: 12px 40px;
}
.footer_menu {
    font-size: 28px;
    line-height: 28px;
}
.footer_menu_list {
    display: flex;
}
.footer_menu_item {
    display: block;
    padding: 13px 13px;
    border: none;
}
.footer_menu_item:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.footer_copyright {
    display: block;
    padding: 13px 0;
    font-size: 24px;
    line-height: 28px;
}